<p id="notice"><%= notice %></p>

<h1>Bundled Items</h1>

<table>
  <thead>
    <tr>
      <th>Discounted price</th>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bundled_items.each do |bundled_item| %>
      <tr>
        <td><%= bundled_item.discounted_price %></td>
        <td><%= bundled_item.title %></td>
        <td><%= link_to 'Show', bundled_item %></td>
      </tr>
    <% end %>
  </tbody>
</table>