<p id="notice"><%= notice %></p>

<h1>Photo Gallery</h1>
<br>
<% if @photos.count == 0 %>
  <p>No Photos to show </p>
<% else %>
  <% @photos.in_groups_of(3) do |group| %>
    <div class="row">
      <% group.compact.each do |photo| %>
        <div class="col-xs-4">
          <%= image_tag photo.file.display if photo.file.present?%>
          <h4><%= link_to 'View', dashboard_item_photo_path(id: photo.id, item_id: @item) %></h4>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>


<br>

<%= link_to 'Add Photo', new_dashboard_item_photo_path(item_id: @item) %>
