<% if @error %>
	<p class="alert alert-danger"><%= @error %></p>
<% else %>
	<h1>Categories</h1>
	<% Item.item_types.keys.each do |category| %>
	  <%= link_to category.titleize, category_dashboard_items_path(category: category), class: 'btn btn-default'  %>
	<% end %>
<% end %>
